version: 2.1

jobs:
  build:
    docker:
      - image: circleci/node:10-browsers
    steps:
      - checkout
      - run:
          name: Installing libraries
          command: |
            npm install
      - save_cache:
          key: -{{ checksum "package.json" }}
          paths:
            - node_modules
            - ~/.cache
            - cypress/*
      - persist_to_workspace:
          root: .
          paths:
            - .
  test:
    docker:
      - image: circleci/node:10-browsers
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Running Unit Tests
          command: |
            npm test
      - store_test_results:
          path: cypress/reports
      - store_artifacts:
          path: cypress/coverage

  analyze:
    docker:
      - image: circleci/node:10-browsers
    steps:
      - checkout
      - sonarcloud/scan
      - snyk/scan

orbs:
  sonarcloud: sonarsource/sonarcloud@1.0.1
  snyk: snyk/snyk@0.0.13

workflows:
  main:
    jobs:
      - build:
          filters:
            branches:
              only:
                - master
                - development
      - test:
          requires:
            - build
          filters:
            branches:
              only:
                - master
                - development
      - analyze:
          context: General
          requires:
            - test
          filters:
            branches:
              only:
                - master
                - development
