version: 2.1

jobs:
  build:
    docker:
      - image: circleci/node:10-browsers
    steps:
      - checkout
      - run:
          name: Installing libraries
          command: |
            npm install
      - run:
          name: Running Unit Tests
          command: |
            npm test
      - store_test_results:
          path: cypress/reports
      - sonarcloud/scan
  snyk/scan:
    docker:
      - image: circleci/node:10-browsers
    steps:
      - checkout
      - run: npm install -q
      - snyk/scan

orbs:
  sonarcloud: sonarsource/sonarcloud@1.0.1
  cypress: cypress-io/cypress@1
  snyk: snyk/snyk@0.0.13

workflows:
  main:
    jobs:
      - build:
          context: SonarCloud
          filters:
            branches:
              only:
                - master
                - development
      - cypress/run:
          yarn: true
          filters:
            branches:
              only:
                - master
                - development
      - snyk/scan:
          context: Snyk
          filters:
            branches:
              only:
                - master
                - development
