version: 2.1

jobs:
  build:
    docker:
      - image: circleci/node:10-browsers
    steps:
      - checkout
      - run:
          name: Installing libraries
          command: |
            npm install
      - run:
          name: Running Unit Tests
          command: |
            npm test
      - store_test_results:
          path: cypress/reports
      - sonarcloud/scan
      - snyk/scan

orbs:
  sonarcloud: sonarsource/sonarcloud@1.0.1
  snyk: snyk/snyk@0.0.13

workflows:
  main:
    jobs:
      - build:
          context: General
          filters:
            branches:
              only:
                - master
                - development
