version: 2.1

jobs:
  build:
    docker:
      - image: circleci/node:10-browsers
    steps:
      - checkout
      - run:
        name: Installing libraries
        command: |
          npm install
      - run:
          name: Running Unit Tests
          command: |
            npm run test:xml
      - run:
          name: Running Coverage Tests
          command: |
            npm run test:coverage:html
      - store_test_results:
          path: reports
      - store_artifacts:
          path: coverage
      - sonarcloud/scan

orbs:
  sonarcloud: sonarsource/sonarcloud@1.0.1

workflows:
  main:
    jobs:
      - build:
          context: SonarCloud
