version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:10-browsers
    steps:
      - checkout
      - run:
          name: Installing libraries
          command: |
            npm install
      - run:
          name: Running Tests
          command: |
            npm run test:xml
      - store_test_results:
          path: reports
